.sections {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;        
    }

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
        
    }
}

.doing {
    padding-top: 0px;
    padding-bottom: 94px;

    @media screen and (max-width: 1199px) {
            display: none;
        }
}

.header {
    border: 1px solid var(--header-border-cl);
}