.clients__list {
    display: flex;
    justify-content: center;
}

.clients__item {
    display: flex;
}

.clients__item:not(:last-child) {
    margin-right: 30px;
}

.clients__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid#afb1b8;
    border-radius: 4%;
    cursor: pointer;
    color: #afb1b8;

    transition-property: color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon {
    fill: currentColor;
}

.clients__link:hover,
.clients__link:focus {
    border-color: var(--accent-cl);
    color: var(--accent-cl);
}