.footer {
    background-color: var(--secondary-bg-cl);
    color: var(--main-bg-cl);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__wraper {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    justify-content: center;
}

.address {
    font-style: normal;
    line-height: 1.71;
    color: var(--white-txt-cl);
}

.footer-list {
    margin-bottom: 60px;
}

.footer-item{
    text-align: center;

    @media screen and (min-width: 1200px) {
        text-align: left;
    }
}

.footer-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-link {
    font-style: normal;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
    color: var(--accent-cl);
}